[submodule "third-party/github/magit"]
	path = third-party/github/magit
	url = git://github.com/philjackson/magit.git
[submodule "third-party/github/zenburn"]
	path = third-party/github/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "third-party/github/rvm"]
	path = third-party/github/rvm
	url = https://github.com/senny/rvm.el.git
