[submodule "third-party/github/magit"]
	path = third-party/github/magit
	url = git://github.com/philjackson/magit.git
[submodule "third-party/github/zenburn"]
	path = third-party/github/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
